.btn-main {
    display: block;
    min-width: 216px;
    height: 50px;
    margin: 0 auto;
    border: 1px transparent;


    color: var(--additional-color);
    background-color: var(--active-element-color);

    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;

    text-align: center;
    letter-spacing: 0.06em;


}