

.examples {
    @media screen and (max-width:479px) {
        padding-top: 60px;
        padding-bottom: 60px;
        width:100vw;
    }
    @include mobile{
        padding-top: 60px;
        padding-bottom: 60px;
    }
    @include desktop{
    padding-top: 94px;
    padding-bottom: 94px;
    }
    

    &__title {
            margin: -1;
            position: absolute;
            width: 1px;
            height: 1px;
            border: 0;
            padding: 0;
            white-space: nowrap;
            clip-path: inset(100%);
            clip: rect(0 0 0 0);
            overflow: hidden;
    
    
        }
}

.work__list {
    @media screen and (max-width:479px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 8px;
        row-gap: 15px;
    }
    @include mobile{
        display: flex;
        flex-wrap: wrap;
        justify-content:flex-start;
        column-gap: 8px;
        row-gap: 15px;
    }
    @include tablet{
           display: flex;
            margin: 0 auto;
            padding: 0;
            justify-content: center;
    }
    
    display: flex;
    margin: 0 auto;
    padding: 0;
    justify-content: center;

}

.work__item:not(:last-child) {
    margin-right: 8px;

}


